/*HEADER*/
header {
  background: $color_darkblue;
}
.logo {
  line-height: 0.5;
  width: 150px;
  .text-super {
    font-size: 3em;
    font-weight: 900;
  }
}
.text-firma {
  font-size: 0.6em;
  letter-spacing: 3.1em;
  margin-right: -1rem;
}
img[alt="sky"] {
  height: 300px;
}
@media only screen and (min-width: 1200px) {
  .container .row header {
    position: absolute;
    z-index: 2;
    background: rgba(8, 2, 36, 0.8);
  }
  .logo {
    margin-left: 84px;
  }
  img[alt="sky"] {
    height: 550px;
  }
}
