/*SECTION 5*/
.sec5 {
  background-image: url("./images/sec-5-background.jpg");
  background-size: cover;
}
.container__item p {
  width: 80%;
}
.color-violet {
  color: $color_violetlight;
}
.svg {
  width: 80px;
}
